.frame-selection__form-input {
  margin: 2rem;
}

.frame-selection__table {
  overflow-x: auto;
  margin: 2rem;
}

.frame-selection__table-row {
  height: 100px !important;
  cursor: pointer;
}

.frame-selection__table-row:hover {
  background-color: LightGray;
}

.frame-selection__table-img {
  width: 160px;
  height: 80px;
}

.frame-selection__form-button {
  margin: 2rem !important;
  width: 200px;
  height: 60px;
}

.row-selected {
  background-color: darkgray !important;
}

.frame-selection__form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}



.frame-selection__wrapper {
  margin: 3rem;
}

.frame-selection__content {
  background: #FFDC00;
}

.frame-selection__title, .frame-selection__form-title {
  margin: 2rem;
  text-align: center;
}

.frame-selection__form-content {
  display: flex;
  flex-wrap: wrap;
}

.qqq {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .2s,opacity .2s ease-in-out;
}

.-active {
  visibility: visible;
  opacity: 1;
  transition: opacity .2s .2s ease-in-out;
} 