.frame-filter__filter {
  flex: 1;
  position: relative;
}

.frame-filter__filter-bar, .frame-filter__filter-groups {
  text-align: center;
}

.frame-filter__filter-group {
  width: 100%;
  margin-top: 2rem;
}

.frame-filter__filter-group-label {
  position: absolute;
  top: -10px;
}