html {
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: normal;
  color: rgba(0,0,0,0.87);
}

body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #F1F1F2;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.3;
}

h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 1.0933333333rem 0 .656rem 0;
}

.page__wrapper {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-shadow: 0 0 15px 8px #c2c2c2;
}

.page__content {
  margin: 0 4rem;
  text-align: center;
}

.yellow-section {
  background: #FFDC00;
}

.page__title {
  padding: 2rem;
  text-align: center;
}

.information__text {
  margin: 10px 20px !important;
  width: 120px;
}

.information__text input {
  text-align: center;
}

.information__form {
  text-align: center;
  margin-top: 40px;
}

.flex {
  display: flex;
}