.order-selection__section {
  border: 3px solid gray;
  padding: 1.5rem 0;
  margin: 2rem 0;
}

.order-selection__button {
  text-decoration: none;
}

.order-selection__recommend {
  display: flex;
  overflow: auto;
  border: 2px solid gray;
  height: 200px;
  margin: 2rem;
  background-color: white;
}

.order-selection__field {
  display: flex;
  overflow: auto;
  border: 2px solid gray;
  height: 50px;
  margin: 2rem;
  background-color: white;
}

.order-selection__recommend > p, .order-selection__section-field > p {
  margin: auto 2rem;
}