.order-selection__section {
  border: 3px solid gray;
  padding: 1.5rem 0;
  margin: 2rem 0;
}

.order-selection__button {
  text-decoration: none;
}

.order-selection__recommend {
  display: flex;
  justify-content: center;
  overflow: auto;
  border: 2px solid gray;
  height: 200px;
  margin: 2rem;
  background-color: white;
}

.order-selection__field {
  display: flex;
  justify-content: center;
  overflow: auto;
  border: 2px solid gray;
  height: 50px;
  margin: 2rem;
  background-color: white;
}

.order-selection__recommend > p, .order-selection__field > p {
  margin: auto 2rem;
}

.order-selection__select {
  margin: auto;
  width: 120px;
}

.order-selection__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  border: 2px solid gray;
  height: 300px;
  max-width: 600px;
  background-color: white;
}

.order-selection__content {
  max-width: 600px;
  margin: 2rem auto;
}

.order-selection__frame-error {
  color: red;
}

.order-selection__frame-img {
  height: 200px;
  min-width: 200px;
}

.order-selection__frame-description {
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
}

.order-selection__actions {
  margin: 2rem;
}
